.bg{
    background-color: blue;
    height: 70vh;
    width: 70vw;
    position: relative;
}
.ball{
    background-color: red;
    height: 10vh;
    width: 5vw;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: bowlX 5s linear 3s infinite alternate, bowlY 1s ease-out infinite alternate;
}
@keyframes bowlX {
    from{
        left: 0;
    }
    to{
        left: 100%;
    }
}

@keyframes bowlY {
    from{
        bottom:0;
    }
    to{
        bottom: 100%;
    }
}